html, body {
  overflow: hidden;
  margin: 0px;
}

@media (max-width: 1024px) {
  canvas {
    touch-action: none;
    width: 100vw;
    height: 100vh;
    display: block;
  }
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.landingPage {
  background-image: url(../src/images/castle.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  position: absolute;
}

.gameBackgroundInfo {
  font-family: Pixel;
  display: none;
  height: 100%;
  flex-direction: column;
  z-index: 999;
  position: relative;
  background-color: rgba(0, 0, 0, 0.753);
  padding: 26px;
  text-align: center;
  align-self: center;
  align-items: center;
  justify-content: center;

  ul {
    padding: 0;
  }
}

.playInstructions {
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.653);
  height: 333px;
  width: 523px;
  margin-top: 2%;
  margin-right: 10px;
  text-align: center;
}

.playInstructions p {
  color: white;
}

.playInstructions li {
  margin-top: 5px;
  color: white;
}

.playInstructions ul {
  text-align: left;
}

.gameBackgroundInfo P {
  color: white;
  font-size: 24px;
}

.enemyInfoBox {
  display: none;
  flex-direction: column;
  z-index: 2;
  width: 65%;
  padding-right: 3px;
}

.enemyInfoBox li {
  display: flex;
}

.enemyInfoBox ul {
  list-style: none;
}

.enemyInfoBox p {
  color: white;
  font-size: 18px;
  padding-left: 18px;
  text-align: left;
}

.enemyInfoBox img {
  max-width: 6%;
  width: 100%;
  align-self: center;

  @media (min-width: 1024px) {
    max-width: 5%;
  }

  @media (min-width: 1440px) {
    max-width: 4%;
  }
}

#ghost, #skull, #greenMonster {
  max-width: 30%;
  margin-right: 15px;

  @media (min-width: 1024px) {
    max-width: 3%;
  }

  @media (min-width: 1440px) {
    max-width: 2%;
  }
}

#ogre {
  margin-left: -16px;
}

#demon {
  margin-left: -13px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin: auto;
  align-items: center;
  height: 100%;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
}

#play, #controls, #info {
  z-index: 99;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

#mute {
  position: absolute;
  top: 170px;
  left: 230px;
  right: 0;
  margin: auto;
  width: 22px;
  filter: invert(100%)
}

#audio {
  position: absolute;
  top: 170px;
  left: 230px;
  right: 0;
  margin: auto;
  width: 20px;
  filter: invert(100%)
}

@font-face {
  font-family: Ancient;
  src: url('../src/fonts/ancient.ttf');
}

@font-face {
  font-family: Pixel;
  src: url('../src/fonts/Letterstyle.ttf');
}


#playAgain {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 157px;
  height: 75px;
  background-image: url('../src/images/stone.jpg');
  font-size: 20px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.playText, .controlsText, .infoText {
  font-family: Pixel;
  color: white;
  /* text-shadow: 6px 1px black, 0px 0 black, 3px 5px black, 0 -1px black; */
  font-size: 42px;
  background: linear-gradient(1deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgb(255 253 235) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.gameBackgroundInfoText {
  max-width: 70%;
}