html, body {
  overflow: hidden;
  margin: 0px;
  padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0) env(safe-area-inset-bottom, 0) env(safe-area-inset-left, 0);
}

@media (max-width: 1024px) {
  canvas {
    touch-action: none;
    width: 100vw;
    height: 100vh;
    display: block;
  }
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.landingPage {
  background-image: url(../src/images/castle.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: absolute;

  @media (min-width: 1024px) {
    background-size: 100% 100%;
  }

  .closeButton {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
  }
}

.gameBackgroundInfo {
  font-family: Pixel;
  display: none;
  height: 100%;
  flex-direction: column;
  z-index: 999;
  position: relative;
  background-color: rgba(0, 0, 0, 0.753);
  padding: 0px;
  text-align: center;
  align-items: center;
  overflow: scroll;

  @media (min-width: 1024px) {
    padding: 24px;
    justify-content: center;
  }

  ul {
    padding: 0;
  }
}

.playInstructions {
  display: none;
  flex-direction: column;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.753);
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: Pixel;
  align-items: center;
  overflow: scroll;

  @media (min-width: 1024px) {
    justify-content: center;
  }

  ul {
    padding: 0;
    font-size: 16px;
    max-width: 70%;

    @media (min-width: 1024px) {
      font-size: 18px;
    }
  }
}

.playInstructions p {
  color: white;
}

.playInstructions li {
  margin-top: 5px;
  color: white;
}

.playInstructions ul {
  text-align: left;
}

.enemyInfoBox {
  display: none;
  flex-direction: column;
  z-index: 2;
  width: 85%;
  padding-right: 3px;
  padding-bottom: 110px;

  @media (min-width: 1024px) {
    padding-bottom: 0;
  }
}

.enemyInfoBox li {
  display: flex;
}

.enemyInfoBox ul {
  list-style: none;
}

.enemyInfoBox p {
  color: white;
  font-size: 14px;
  padding-left: 18px;
  text-align: left;

  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

.enemyInfoBox img {
  max-width: 8%;
  width: 100%;
  align-self: center;

  @media (min-width: 1024px) {
    max-width: 5%;
  }

  @media (min-width: 1440px) {
    max-width: 4%;
  }
}

#demon, #ogre {
  scale: 2;

  @media (min-width: 768px) {
    scale: 1;
  }
}

#ghost, #skull, #greenMonster {
  @media (min-width: 768px) {
    scale: .7;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin: auto;
  align-items: center;
  height: 100%;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
}

#play, #controls, #info {
  z-index: 99;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

#mute {
  position: absolute;
  top: 170px;
  left: 230px;
  right: 0;
  margin: auto;
  width: 22px;
  filter: invert(100%)
}

#audio {
  position: absolute;
  top: 170px;
  left: 230px;
  right: 0;
  margin: auto;
  width: 20px;
  filter: invert(100%)
}

@font-face {
  font-family: Ancient;
  src: url('../src/fonts/ancient.ttf');
}

@font-face {
  font-family: Pixel;
  src: url('../src/fonts/Letterstyle.ttf');
}


#playAgain {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 75px;
  font-size: 24px;
  color: white;
  font-family: 'Pixel';
  background: transparent;
  appearance: none;
  border: none;
  cursor: pointer;
  text-shadow: 5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.playText, .controlsText, .infoText {
  font-family: Pixel;
  color: white;
  font-size: 35px;
  background: linear-gradient(1deg, rgb(228 234 236) 0%, rgb(249 249 249) 50%, rgb(255 253 235) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;

  @media (min-width: 1024px) {
    font-size: 42px;
  }
}

.gameBackgroundInfoText {
  max-width: 85%;
  font-size: 18px;
  color: white;
  margin-top: 110px;

  @media (min-width: 1024px) {
    font-size: 24px;
    margin-top: unset;
  }
}

.playInstructionsText {
  max-width: 70%;
  font-size: 20px;
  margin-top: 110px;

  @media (min-width: 1024px) {
    font-size: 24px;
    margin-top: unset;
  }
}

.playInstructionsListDesktop {
  display: none;
  flex-direction: column;

  @media (min-width: 1024px) {
    display: flex;
  }
}

.playInstructionsListMobile {
  display: flex;
  flex-direction: column;
  padding-bottom: 110px !important;

  @media (min-width: 1024px) {
    display: none;
  }
}
