.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.34);
  height: 100vh;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro {
  background-image: url(../src/images/castle.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  position: absolute;
}

.gameBackgroundInfo {
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.653);
  height: fit-content;
  width: 343px;
  padding: 26px;
  text-align: center;
  align-self: center;
}

.playInstructions {
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.653);
  height: 333px;
  width: 523px;
  margin-top: 2%;
  margin-right: 10px;
  text-align: center;
}

.playInstructions p {
  color: white;
}

.playInstructions li {
  margin-top: 5px;
  color: white;
}

.gameBackgroundInfo P {
  color: white;
  font-size: 153%;
}

.enemyInfoBox {
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.653);
  height: 508px;
  width: 523px;
  margin-top: 2%;
  margin-left: 10px;
  padding-right: 3px;
}

.enemyInfoBox li {
  display: flex;
  margin-left: -27px;
}

.enemyInfoBox ul {
  list-style: none;
}

.enemyInfoBox p {
  color: white;
}

.enemyInfoBox img {
  width: 27%;
  align-self: center;
}

#ghost, #skull, #greenMonster {
  width: 15%;
  margin-right: 15px;
}

#ogre {
  margin-left: -16px;
}

#demon {
  margin-left: -13px;
}

#play {
  background-image: url('../src/images/stone.jpg');
  font-size: 20px;
  color: white;
  position: absolute;
  right: 174px;
  top: 487px;
  width: 200px;
  height: 50px;
  z-index: 99;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#mute {
  position: absolute;
  top: 170px;
  left: 230px;
  right: 0;
  margin: auto;
  width: 22px;
  filter: invert(100%)
}

#audio {
  position: absolute;
  top: 170px;
  left: 230px;
  right: 0;
  margin: auto;
  width: 20px;
  filter: invert(100%)
}

@font-face {
  font-family: Ancient;
  src: url('../src/fonts/ancient.ttf');
}

@font-face {
  font-family: Pixel;
  src: url('../src/fonts/Letterstyle.ttf');
}


#playAgain {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 157px;
  height: 75px;
  background-image: url('../src/images/stone.jpg');
  font-size: 20px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

html, body {
  overflow: hidden;
  margin: 0px;
}
